.item-list {
	border-radius: var(--sp-1);

	ul {
		background: var(--c-bg-1);
		color: var(--c-fg-1);
		list-style: none;
		margin: 0;
		padding: 0;
	}

	li {
		padding: var(--sp-1) var(--sp-2);
		border-radius: var(--sp-1);
		cursor: pointer;

		&.active,
		&:hover {
			background: var(--c-bg-3);
		}
	}

	button {
		color: inherit;
		border-radius: var(--sp-1);
		border: none;
		background: transparent;
		padding: var(--sp-1);
		margin-left: var(--sp-1);
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	button:hover {
		background: var(--c-bg-3);
	}

	svg {
		width: 1.5em;
		height: 1.5em;
	}
}

.item-list-header {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid var(--c-fg-3);
}

.item-list-name {
	padding-left: var(--sp-1);
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	width: fit-content;
	border-radius: var(--sp-1);

	&:hover {
		background: var(--c-bg-3);
	}

	svg {
		margin-left: var(--sp-1);
		width: 0.875em;
		height: 0.875em;
	}
}

.item-list-name.hide {
	svg {
		rotate: 0.75turn;
	}
}
