.item-list {
	background: var(--c-bg-1);
	color: var(--c-fg-1);
	list-style: none;
	margin: 0;
	padding: 0;
}

.item-list-item {
	padding: var(--sp-1) var(--sp-2);
	border-radius: var(--sp-1);
	cursor: pointer;

	&.active,
	&:hover {
		background: var(--c-bg-3);
	}
}
