.file-browser {
	background: var(--c-bg-0);
	margin-left: calc(var(--sp-2) * -1);
}

.file-browser-list {
	margin: 0;
	list-style: none;
	padding: 0 0 0 var(--sp-2);
}

.file-brwoser-item {
	display: flex;
	flex-flow: column nowrap;
}

.file-browser-label {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: var(--sp-1);
	border-radius: var(--sp-1);
	cursor: pointer;

	svg {
		margin-right: var(--sp-1);
	}

	&.active,
	&:hover {
		background: var(--c-bg-2);
	}
}
